body {
  font-family: 'Georgia', serif;
  background: radial-gradient(circle, #1a1a1a, #000);
  color: #0c0c0b;
  background-image: url('pop.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}
.header {
  background-color: #251221;
  top:0;
  left:0;
  width:100%;
  text-align: center;
  border-bottom: 2px solid #e2d7b7;
  z-index:1000;
  background:transparent;
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.quiz-container {
  background: rgba(231, 94, 94, 0.7);
  border: 1px solid #e2d7b7;
  border-radius: 20px;
  padding: 30px;
  max-width: 600px;
  text-align: center;
  box-shadow: 0 0 20px rgba(226, 215, 183, 0.3);
}

h1 {
  margin-bottom: 20px;

}

button {
  background-color: #e2d7b7;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
 
}

button:hover {
  background-color: #c9bb94;
}

#result {
  margin-top: 20px;
  font-style: italic;
  font-size: 1.2rem;
}
